# Web Application Framework
fastapi
uvicorn[standard]
python-dotenv

# Web Scraping
selenium
beautifulsoup4

# LangChain & RAG Core
langchain
lang-community
faiss-cpu
ollama

# Database
supabase
postgrest-py
pydantic<2
selenium
